@model CustomModelBindingDemo.Models.Member

@{
    ViewBag.Title = "ShowMember";
}

<h2>ShowMember</h2>
<h3>The following data would be saved:</h3>
<p>
@Html.LabelFor(m=>m.FirstName): @Model.FirstName
</p>
<p>
@Html.LabelFor(m=>m.LastName): @Model.LastName
</p>
<p>
@Html.LabelFor(m=>m.IsApproved): 
@Model.IsApproved
</p>
